<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
  xmlns:iot2="http://schemas.microsoft.com/appx/manifest/iot/windows10/2"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
  IgnorableNamespaces="uap mp desktop4 iot2 rescap uap10">

  <Identity
    Name="52804JuliusKirsch.TextControlBoxDemo"
    Publisher="CN=juliu"
    Version="1.1.0.0" />

  <mp:PhoneIdentity PhoneProductId="92159b7f-0bbc-4b6c-9a74-7402e1857346" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>FluentEdit</DisplayName>
    <PublisherDisplayName>Julius Kirsch</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="FluentEdit.App"
      desktop4:SupportsMultipleInstances="true"
      iot2:SupportsMultipleInstances="true">
		
      <uap:VisualElements
        DisplayName="FluentEdit"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        BackgroundColor="transparent" Description="A simple but powerful texteditor">
        <uap:DefaultTile Square71x71Logo="Assets\SmallTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape"/>
          <uap:Rotation Preference="portrait"/>
          <uap:Rotation Preference="landscapeFlipped"/>
          <uap:Rotation Preference="portraitFlipped"/></uap:InitialRotationPreference>
      </uap:VisualElements>
		<Extensions>
			<uap:Extension Category="windows.fileTypeAssociation">
				<uap:FileTypeAssociation Name="anyfile">
					<uap:SupportedFileTypes>
						<uap:FileType>.randomextension</uap:FileType>
						<uap10:FileType>*</uap10:FileType>
					</uap:SupportedFileTypes>
					<uap:EditFlags OpenIsSafe="true" />
					<uap:DisplayName>FluentEdit</uap:DisplayName>
				</uap:FileTypeAssociation>
			</uap:Extension>
			<uap:Extension Category="windows.fileTypeAssociation">
				<uap:FileTypeAssociation Name="textfile">
					<uap:SupportedFileTypes>
						<uap:FileType>.txt</uap:FileType>
					</uap:SupportedFileTypes>
					<uap:EditFlags OpenIsSafe="true"/>
					<uap:DisplayName>Text file</uap:DisplayName>
				</uap:FileTypeAssociation>
			</uap:Extension>
			<uap:Extension Category="windows.fileTypeAssociation">
				<uap:FileTypeAssociation Name="csharpfile">
					<uap:SupportedFileTypes>
						<uap:FileType>.cs</uap:FileType>
					</uap:SupportedFileTypes>
					<uap:DisplayName>C# Source File</uap:DisplayName>
					<uap:EditFlags OpenIsSafe="true"/>
				</uap:FileTypeAssociation>
			</uap:Extension>
			<uap:Extension Category="windows.fileTypeAssociation">
				<uap:FileTypeAssociation Name="gcodefile">
					<uap:SupportedFileTypes>
						<uap:FileType>.gcode</uap:FileType>
						<uap:FileType>.nc</uap:FileType>
						<uap:FileType>.cnc</uap:FileType>
						<uap:FileType>.tap</uap:FileType>
					</uap:SupportedFileTypes>
					<uap:DisplayName>G-Code</uap:DisplayName>
				</uap:FileTypeAssociation>
			</uap:Extension>
			<uap:Extension Category="windows.fileTypeAssociation">
				<uap:FileTypeAssociation Name="jsoncode">
					<uap:SupportedFileTypes>
						<uap:FileType>.json</uap:FileType>
					</uap:SupportedFileTypes>
					<uap:DisplayName>Json Source file</uap:DisplayName>
				</uap:FileTypeAssociation>
			</uap:Extension>
			<uap:Extension Category="windows.fileTypeAssociation">
				<uap:FileTypeAssociation Name="htmlcode">
					<uap:SupportedFileTypes>
						<uap:FileType>.html</uap:FileType>
						<uap:FileType>.htm</uap:FileType>
					</uap:SupportedFileTypes>
					<uap:DisplayName>Html file</uap:DisplayName>
				</uap:FileTypeAssociation>
			</uap:Extension>
			<uap:Extension Category="windows.fileTypeAssociation">
				<uap:FileTypeAssociation Name="cppcode">
					<uap:SupportedFileTypes>
						<uap:FileType>.cpp</uap:FileType>
					</uap:SupportedFileTypes>
					<uap:DisplayName>C++ Source file</uap:DisplayName>
				</uap:FileTypeAssociation>
			</uap:Extension>
		</Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="confirmAppClose" />
  </Capabilities>
</Package>